<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Weddings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="wrapper">
        <h1>Welcome To The Wedding Planner!</h1>
        <a id="logout" class="btn btn-secondary" href="/logout">Logout</a>
        <hr>
    
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Wedding</th>
                    <th>Date</th>
                    <th>Guests</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for wedding in all_weddings %}
                <tr>
                    <td><a href="/weddings/{{wedding.id}}">{{ wedding.wedder_one }} & {{ wedding.wedder_two }}</a></td>
                    <td>{{ wedding.wedding_date }}</td>
                    <td>{{ wedding.guests.count }}</td>
                    <td>
                        {% if wedding.planner == user %}
                        <form action="/weddings/{{wedding.id}}/delete" method="POST">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                        {% else %}
                            {% if user in wedding.guests.all %}
                        <form action="/weddings/{{wedding.id}}/remove_guest" method="POST">
                            {% csrf_token %}
                            <button type="submit">Un-RSVP</button>
                        </form>
                            {% else %}
                            <form action="/weddings/{{wedding.id}}/add_guest" method="POST">
                                {% csrf_token %}
                                <button type="submit">RSVP</button>
                            </form>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a id="new_wedding" class="btn btn-primary" href="/weddings/new">New Wedding</a>
    </div>  
</body>
</html>